body {
    font-family: "roboto" sans-serif;
    background-image: url(Konser.png);
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: lightgray;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

.concert-schedule {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.concert {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.concert:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
}

p {
    margin: 0.5rem 0;
}

.isi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.isi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 1rem;
}

.kata {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem; 
     transition: transform 0.3s, box-shadow 0.3s; 
}
.kata:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.kata{
    text-align: left;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.isi {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.kata {
    margin: 0 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: lightgrey;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: gray;
}

a {
    text-decoration: none;
    color: inherit; 
}